# The CODEOWNERS file is a list of patterns and owners, where the last matching
# pattern is used.

# --- Global Defaults ---

# Set a default owner for everything in the repository. This owner will be
# requested for review for any changes not matched by a more specific pattern.
* @tgowan-endor
/vagrant/ @wurstbrot
/test/cypress/ @ShubhamPalriwala
/frontend/src/app/score-board @J12934
